<div id="gradebook_header" class="subheadContent" style="">
    <div class="subheadContent subheadContent--flex-start">
        <div class="assignmentDetails">
            <a id="assignment_url" href="/courses/2173881/assignments/13793262" class="a-style">
                <h2 class="assignmentDetails__Title">Assignment Name</h2>
            </a>
            <p class="assignmentDetails__Info">
                <span>Due: Month Day, Year at Time</span>
                - <a id="context_title" href="/courses/2173881" class="a-style">Course Name, Section #: Title </a>
            </p>
        </div>
    </div>

</div>